Access Token Response does not include scope

RFC6749 section 5.1 says that Access Token Response should include the authorized scope when it does not match the requested one: 

> scope
>          OPTIONAL, if identical to the scope requested by the client;
>          otherwise, REQUIRED.  The scope of the access token as
>          described by Section 3.3.

I thought we always returned this? I'll take a look.

Should easily be fixed by adding it to the "$json_response"-object in "sub _access_token_request". Thank you for looking into that. Might be faster than me trying to figure out how to contribute to this.

v0.46 on its way to CPAN